
* {
   box-sizing: border-box;
  }
    
 body {
    font-family: 'Satisfy', cursive;
   padding: 0.625rem;
   background: #f1f1f1;
   max-width: 1920px;
   margin: auto;
 }
 
 /* Header/Blog Title */
 .header {
   padding: 1.875rem;
   text-align: center;
   background: white;
 }
 
 .header h1 {
   font-size: 3.125rem;
 }
 
 /* Style the top navigation bar */
 .topnav {
   overflow: hidden;
   background-color: #333;
 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 0.875rem 1rem;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Create two unequal columns that floats next to each other */
 /* Left column */
 .leftcolumn {   
   float: left;
   width: 75%;
 }
 
 /* Right column */
 .rightcolumn {
   float: left;
   width: 25%;
   background-color: #f1f1f1;
   padding-left: 1.25rem;
 }
 
 /* Fake image */
 .fakeimg {
      background-color: #aaa;
   width: 100%;
   padding: 1.25rem;
    }
 
 /* Add a card effect for articles */
 .card {
   background-color: white;
   padding: 1.25rem;
   margin-top: 1.25rem;
   
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Footer */
 .footer {
   padding: 1.25rem;
   text-align: center;
   background: #ddd;
   margin-top: 1.25rem;
 }
 
 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 45rem) {
   .leftcolumn, .rightcolumn {   
     width: 100%;
     padding: 0;
   }
 }
 
 /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
 @media screen and (max-width: 45rem) {
   .topnav a {
     float: none;
     width: 100%;
   }}


